Xml file/data_xml_file.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <xs:element name="data">
        <xs:complexType>
            <xs:simpleContent>
                <xs:extension base="xs:string">
                    <xs:attribute name="id" type="xs:integer" use="required" />
                    <xs:attribute name="name" use="required" />
                    <xs:attribute name="lastname" use="required" />
                    <xs:attribute name="age" type="xs:integer" use="required" />
                </xs:extension>
            </xs:simpleContent>
        </xs:complexType>
    </xs:element>
</xs:schema>